[submodule "vendor/v8"]
	path = vendor/v8
	url = https://github.com/v8/v8-git-mirror.git
[submodule "vendor/crypto"]
	path = vendor/crypto
	url = https://github.com/openssl/openssl.git
[submodule "vendor/shapdx"]
	path = vendor/shapdx
	url = https://github.com/sharpdx/SharpDX.git
[submodule "vendor/luanet"]
	path = vendor/luanet
	url = https://github.com/xanathar/moonsharp.git
